/* Common */

* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem
}

section {
    width: 100%;
    margin: 1rem 2rem
}

section > * {
    margin: 1.5rem 0
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: medium solid black;
    width: 100%
}

ul {
    margin-left: 1rem
}

li {
    margin: .5rem 0
}

/* Main */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

h1 {
    max-width: 100%;
    word-wrap: break-word
}

h1 .age {
    word-wrap: normal;
    white-space: pre;
    color: lightblue
}

@media (max-width: 470px) {
    h1 {
        font-size: 2.5rem
    }

    h1 .age {
        font-size: 1.5rem
    }
}

@media (min-width: 471px) {
    h1 {
        font-size: 4rem
    }

    h1 .age {
        font-size: 2rem
    }
}

.my-photo-container {
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 .25rem black;
    overflow: hidden;
    border: thin solid black
}

.my-photo {
    position: relative;
    top: -1rem;
    width: 100%
}

/* Contacts */

.contacts h2 {
    display: none
}

.contacts {
    width: 100%
}

.contact-list {
    border-left: medium solid black
}

.contact-list td {
    padding: .5rem
}

.contact-list td:first-child {
    padding-left: 2.5rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: .25rem;
    background-position-y: center
}

.contact-list .tel td:first-child {
    background-image: url("images/phone-icon.svg")
}

.contact-list .mail td:first-child {
    background-image: url("images/mail-icon.svg")
}

.contact-list .vk td:first-child {
    background-image: url("images/vk-icon.svg")
}

.contact-list .github td:first-child {
    background-image: url("images/github-icon.svg")
}

.contact-list .home td:first-child {
    background-image: url("images/home-icon.svg")
}

/* Footer */

footer {
    padding: 100vh 0 1rem 1rem;
    color: #888
}

footer a {
    color: #666
}

footer a:visited {
    color: #444
}