/* Common */

* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    padding: 2rem
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

main > * {
    width: 100%;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: medium solid black;
}

h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

h4 {
    margin: 1rem 0;
    font-size: 1.1rem;
}

p {
    margin-top: 1rem;
}

ul {
    margin-left: 1rem;
}

li {
    margin: .5rem 0;
}

.with-top-offset {
    margin-top: 3rem;
}

/* Main Section */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    word-wrap: break-word;
}

h1 .age {
    word-wrap: normal;
    white-space: pre;
    color: lightblue;
}

@media (max-width: 470px) {
    h1 {
        font-size: 2.5rem;
    }

    h1 .age {
        font-size: 1.5rem;
    }
}

@media (min-width: 471px) {
    h1 {
        font-size: 4rem;
    }

    h1 .age {
        font-size: 2rem;
    }
}

.my-photo-container {
    margin-left: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 .25rem black;
    overflow: hidden;
    border: thin solid black;
}

.my-photo {
    display: block;
    width: 15rem;
}

/* Contacts Section */

.contacts h2 {
    display: none;
}

.contact-list {
    border-left: medium solid black;
}

.contact-list td {
    padding: .5rem;
}

.contact-list td:first-child {
    padding-left: 2.5rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: .25rem;
    background-position-y: center;
}

.contact-list .tel td:first-child {
    background-image: url("./images/phone-icon.svg");
}

.contact-list .mail td:first-child {
    background-image: url("./images/mail-icon.svg");
}

.contact-list .vk td:first-child {
    background-image: url("./images/vk-icon.svg");
}

.contact-list .telegram td:first-child {
    background-image: url("./images/telegram-icon.svg");
}

.contact-list .github td:first-child {
    background-image: url("./images/github-icon.svg");
}

.contact-list .moshub td:first-child {
    background-image: url("./images/moshub-icon.svg");
}

.contact-list .home td:first-child {
    background-image: url("./images/home-icon.svg");
}

/* Footer */

footer {
    padding: 100vh 0 1rem 1rem;
    color: #888;
}

footer a {
    color: #666;
}

footer a:visited {
    color: #444;
}

@media print {
    footer {
        display: none;
    }
}
